# Семинар: знакомство с Pandas. Задачи

In [2]:
import pandas as pd
import numpy as np

### Задания для самостоятельного решения

### Часть 1. Для датасета пассажиров Титаника

In [ ]:
df = pd.read_csv("titanic_train.csv", sep=",")
df.head()

#### 1. Какова доля семей, в которых минимальный возраст меньше 20 (семьи с детьми)?

In [ ]:
#your code here

#### 2. Какова доля выживших пассажиров класса 3? А пассажиров класса 1?

In [ ]:
#your code here

#### 3. Сколько пассажиров выжило, а сколько - нет?

In [ ]:
#your code here

#### 4. Создайте столбец 'IsChild', который равен 1, если возраст меньше 20, и 0 - иначе. Для пропущенных значений поведение функции может быть произвольным.

In [ ]:
#your code here

#### 5. Какова доля выживших женщин из первого класса? А доля выживших мужчин из 3 класса?

In [ ]:
#your code here

### Задания для самостоятельного решения

### Часть 2. (Оценки студентов)

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

Здесь можно посмотреть подробно о некоторых методах работы с табличными данными pandas: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задача 2.1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [ ]:
#your code here

#### Задание 2.2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [ ]:
#your code here

#### Задание 2.3. Выведите на экран размеры полученной таблицы

In [ ]:
#your code here

#### Задание 2.4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [ ]:
#your code here

#### Задание 2.5. Проверьте, есть ли в таблице пропущенные значения

In [ ]:
#your code here

#### Задание 2.6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [ ]:
#your code here

#### Задание 2.7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.

In [ ]:
#your code here

#### Задание 2.8. Выведите на экран все различные значения из столбца lunch.

In [ ]:
#your code here

#### Задание 2.9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [ ]:
#your code here

**Зафиксируем минимальный балл для сдачи экзамена**

passmark = 50

**Задание 2.10. Ответьте на вопросы:**  
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?  
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?  
    * Какая доля девушек, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [ ]:
#your code here

**Задание 2.11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**  
    * Для каждой этнической группы выведите средний балл за экзамен по чтению  
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [ ]:
#your code here

**Задание 2.12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [ ]:
#your code here

**Задание 2.13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [ ]:
#your code here

#### Задание 2.14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [ ]:
#your code here

#### Задание 2.15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [ ]:
#your code here